repos:
    - repo: https://github.com/ambv/black
      rev: 22.6.0
      hooks:
          - id: black
            language: python
            types: [python]
    - repo: https://github.com/timothycrosley/isort
      rev: 5.10.1
      hooks:
          - id: isort
    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
        - id: isort
          args: ["--profile", "black", "--filter-files"]
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
        - id: trailing-whitespace
        - id: check-yaml
        - id: check-toml
        - id: debug-statements
