include LICENSE
include README.md
include cbgen/athr.dll
include cbgen/bgen.dll
include cbgen/genotype.c
include cbgen/genotype.h
include cbgen/interface.h
include cbgen/zstd.dll
include cbgen/partition.c
include cbgen/partition.h
include cbgen/samples.c
include cbgen/samples.h
include cbgen/zlib.dll
include build_ext.py
